# base values, environment specific variables should be specified/overwritten in environment values

replicaCount: 1

image:
  repository: us-east1-docker.pkg.dev/agpt-dev/agpt-server-dev/agpt-server-dev
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []


resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetMemoryUtilizationPercentage: 80

volumes: []

volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}

domain: ""

cloudSqlProxy:
  image:
    repository: gcr.io/cloud-sql-connectors/cloud-sql-proxy
    tag: 2.20.0@sha256:0b7fc3a63ac4b48163b8b2181e3ca47abade9d671d10908ba0ad3ba2935e392d
  instanceConnectionName: ""
  port: 5432
  resources:
    requests:
      memory: "2Gi"
      cpu: "1"
